<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<dubbo:reference id="tradeAccountingService" interface="com.zlebank.zplatform.trade.acc.service.TradeAccountingService" version="1.0" retries="0">
	<dubbo:method name="accountingFor" async="true" return="false" retries="0" retry="0" timeout="30000"></dubbo:method>
</dubbo:reference>
<dubbo:reference id="tradeNotifyService" interface="com.zlebank.zplatform.task.service.TradeNotifyService" version="1.0" />
<dubbo:reference id="insteadPayAccountingService" interface="com.zlebank.zplatform.trade.acc.service.InsteadPayAccountingService" version="1.0" />

</beans>